
body, *, *:before, *:after {
	box-sizing: border-box;
	
}
body {
	background: #820263;	
}

.container {
	width: 540px;
	background: #04A777;
	margin: auto;
	padding: 1em;
	margin-top: 2em;
	color:white;
}
.container form > div {
	margin: 8px 8px;
}
.input--width, select {
	display: block;
	width: 100%;
	padding: 2px;
	border-radius: 5px;
}
input[type=radio], input[type=checkbox] {
	display: inline;
	width:auto;
	margin-right: 3px;
}

.breakFix::after{
	content: "\a";
	white-space: pre;

}
input[type=submit]{
	background: #820263;
	color:white;
	padding: 10px;
	width: 100%
}

.text--area{
	margin: 10px 0 10px 0;
}
.text--area textarea{
	margin-top:5px;
}